<div class="card">
  <%= current_user.inspect %>
  <h2 class="card-header">Edit Profile <% resource_name.to_s.humanize %></h2>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field form-group">
        <%= f.label :name %><br />
        <%= f.text_field :name, value: current_user.name , class:"form-control" %>
      </div>

      <div class="field form-group">
        <%= f.label :contact_number %><br />
        <%= f.text_field :contact_number, value: current_user.contact_number, autocomplete: "contact_number", class:"form-control" %>
          <em style="color: red">8 characters minimum</em>
      </div>
      <br>
      <div class="field form-group">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
        <% if @minimum_password_length %>
          <em style="color: red"><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="field form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
      </div>
      <br>
      <div class="field form-group">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
        <br />
        <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control" %>
        <em style="color: red">*required</em>
      </div>

      <div class="actions">
        <%= f.submit "Update", class:"btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
<br><br>

<div class="card">
  <h5 class="card-header">Cancel my account</h5>
  <div class="card-body">
    <p class="card-text">Deleting account will not be reversible.</p>
    <%= button_to "Delete account", registration_path(resource_name), class:"btn btn-danger btn-sm", data: { confirm: "Are you sure?" }, method: :delete %>
  </div>
</div>
<br>
<%= link_to "Back", :back, class:"btn btn-secondary" %><br><br>