<h3>Booking Information</h3><br>
<div class="jumbotron">
  <h1 class="display-4"><%= @booking.facility.name %></h1>
  <p class="lead">Capacity: <%= @booking.facility.capacity %></p>
  <p class="lead">Whiteboard: <%= @booking.facility.whiteboard %></p>
  <p class="lead">Conferencing capacility: <%= @booking.facility.conferencing %></p>
  <hr class="my-4">
	<p>
	  <strong>Name:</strong>
	  <%= @booking.user.name %>
	</p>

	<p>
	  <strong>Contact no:</strong>
	  <%= @booking.user.contact_number %>
	</p>

	<p>
	  <strong>Booking date:</strong>
	  <%= @booking.booking_date %>
	</p>

	<p>
	  <strong>Booking time start:</strong>
	  <%= @booking.timeslot.time %> (1 hour)
	</p>
	<br>
	<p class="lead">
		<% if user_signed_in? && current_user.email == 'admin@gmail.com' %>
		  <%= link_to 'Show all bookings', bookings_path, class:"btn btn-primary", :style=> 'margin-right:50px;' %>
		<%else%>
		  <%= link_to 'Show my upcoming bookings', bookings_path, class:"btn btn-primary", :style=> 'margin-right:50px;' %>
		<%end%>
		<%= link_to 'Delete Booking', @booking, method: :delete, data: { confirm: 'Are you sure to delete booking?' }, class:"btn btn-danger"%>
  	</p>
</div>
