<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @booking.name %>
</p>

<p>
  <strong>Contact no:</strong>
  <%= @booking.contact_no %>
</p>

<p>
  <strong>Booking date:</strong>
  <%= @booking.booking_date %>
</p>

<p>
  <strong>Timeslot:</strong>
  <%= @booking.timeslot %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
