<h1>Facilities</h1>
<% if user_signed_in? && current_user.email == 'admin@gmail.com' %>
  <%= link_to 'Create Facility', new_facility_path, class: "btn btn-info" %><br>
<%end%>
<br>
<!-- sorting view -->
<%= form_tag facilities_path, :method => 'get' do %>
    <p>
      <b>Sort Facility</b> <%= select_tag "show", raw(
      "<option>None</option>
      <option>name-aescending</option>
      <option>name-descending</option>
      <option>capacity-aescending</option>
      <option>capacity-descending</option>"
      ), :onchange => "this.form.submit();", class: "form-control col-sm-4" %>
    </p>
<% end %>

<!-- presenting data -->
<div class="row">
  <% if params[:show] == 'name-descending' %>
    <% @facilities = @facilities_name_desc %>
  <% elsif params[:show] == 'capacity-aescending' %>
    <% @facilities = @facilities_capacity_asc %>
  <% elsif params[:show] == 'capacity-descending' %>
    <% @facilities = @facilities_capacity_desc %>
  <% else %>
    <% @facilities = @facilities %>
  <%end%>
  <% @facilities.each do |facility| %>
  <div class="col-sm-4" style="margin-top: 50px;">
    <div class="card">
      <div class="card-header">
        <h4><%= facility.name %></h4>
      </div>
      <div class="card-body">
        <p class="card-text">
          <b>Room capacity: </b><%= facility.capacity %><br>
          <b>Whiteboard: </b><%= facility.whiteboard %><br>
          <% if facility.conferencing == true %>
            <b>Conferencing capability: <span style="color: green">yes</span></b> <br>
          <%else%>
            <b>Conferencing capability: <span style="color: red">no</span></b> <br>
          <%end%>
        </p>
        <%= link_to 'More Info', facility, class: "btn btn-primary" %>
        <% if user_signed_in? && current_user.email == 'admin@gmail.com' %>
          <%= link_to 'Edit', edit_facility_path(facility), class: "btn btn-sm btn-info", style:"margin-left: 40px; margin-right: 20px;" %>
          <% link_to 'Delete', facility, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %>
        <%end%>
        
      </div>
    </div>
  </div>
  <% end %>
</div>