<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @facility.name %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @facility.capacity %>
</p>

<p>
  <strong>Whiteboard:</strong>
  <%= @facility.whiteboard %>
</p>

<p>
  <strong>Conferencing:</strong>
  <%= @facility.conferencing %>
</p>

<%= link_to 'Edit', edit_facility_path(@facility) %> |
<%= link_to 'Back', facilities_path %>
