<h1>Facility Details</h1><br>

<p id="notice"><%= notice %></p>

<div class="card">
  <div class="card-header">
    <h4><%= @facility.name %></h4>
  </div>
  <div class="card-body">
    <p class="card-text">
      <b>Room capacity: </b><%= @facility.capacity %><br><br>
      <b>Whiteboard: </b><%= @facility.whiteboard %><br><br>
      <% if @facility.conferencing == true %>
        <b>Conferencing capability: <span style="color: green">yes</span></b> <br><br>
      <%else%>
        <b>Conferencing capability: <span style="color: red">no</span></b> <br><br>
      <%end%>
    </p>

    <%= form_tag facility_path, :method => 'get' do %>
	  <p>
	    <%= date_field_tag :date, params[:date], value: Date.today, class: "col-sm-4 form-control", style: "float:left; margin-right: 20px;" %>
	    <%= submit_tag "Show bookings", :name => nil, class: "btn btn-primary" %>
	  </p>
	<% end %>
	<%if params[:date] %>
		<br>
		    <h4>Booked slots on <b style="color: #17a2b8"><%= params[:date].presence || Date.today %></b></h4>
			  <table class="table table-bordered table-hover">
			    <thead class="thead-dark">
			      <tr>
			        <th>Name</th>
			        <th>Email</th>
			        <th>Timeslot</th>
			        <th colspan="1"></th>
			      </tr>
			    </thead>

			    <tbody>
			      <% @bookings_by_facility_date_filtered.each do |booking| %>
			        <tr>
			          <td><%= booking.user.name %></td>
			          <td><%= booking.user.email %></td>
			          <td><%= booking.timeslot.time %></td>
			          <% if current_user.id == booking.user_id %>
			          <td><%= link_to 'Delete', booking, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-sm btn-outline-danger" %></td>
			          <%end%>
			        </tr>
			      <% end %>
			    </tbody>
			  </table>
			<br>
			  <table class="table table-bordered table-hover">
			    <thead class="thead-dark">
			      <tr>
			        <th>Available timeslots for <%= params[:date].presence || Date.today %>:</th>
			      </tr>
			    </thead>

			    <tbody>
			      <% if @available_slots_by_facility_date_filtered.empty? %>
			      	<tr>
			          <td>No available slots<br><br> select another date/facility</td>
			        </tr>
			      <%else%>
				      <% @available_slots_by_facility_date_filtered.each do |timeslot|%>
					      <tr>
				            <td><%= timeslot.time %></td>
				          </tr>
					  <% end %>
			      <%end%> 
			    </tbody>
			  </table>
		  	</div>
		</div><br>
		<% if !@available_slots_by_facility_date_filtered.empty? %>
		  <%= link_to 'Proceed with booking', {:controller => "bookings", action:"new", :id => params[:id], :date => params[:date]}, class:"btn btn-primary", style: "margin-right: 20px;" %>
	    <%end%>
	<%end%>
<% if params[:date] %>
	<%= link_to 'Back', facilities_path, class:"btn btn-secondary" %><br><br>
<%end%>
