<%= form_with(model: timeslot) do |form| %>
  <% if timeslot.errors.any? %>
    <div class="alert alert-danger" role="alert" id="error_explanation">
      <h4><%= pluralize(timeslot.errors.count, "error") %> prohibited this timeslot from being saved:</h4>
      <hr>
      <ul>
        <% timeslot.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :time %>
    <%= form.text_field :time %>
  </div><br>

  <div class="actions">
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>
